
/* RESET: obliterate variable browser defaults */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.3;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* OVERCLOCKED */
body {
  background: #E3E0F8;
  font-family: Verdana, Helvetica, sans-serif;
}

h1 {
  font-size: 14pt;
  font-weight: bold;
}

tt {
  font-family: Consolas, Courier New, monospace;
  font-size: 0.9em;
  font-weight: bold;
}

.header {
  background: #E3E0F8;
  padding: 6px 12px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.header .hconstrain {
  width: 1000px;
  position: relative;
}

.tagline {
  position: absolute;
  top: 10px;
  right: 2px;
  font-size: 9pt;
  font-style: italic;
}

.content {
  margin: 0px 12px 24px;
  padding: 44px 8px 8px;
  background: #EBE9FF;
  border-bottom: 1px solid #330044;
  overflow: hidden;
  width: 982px;
}

.product {
  width: 600px;
  float: left;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

.philosophy {
  width: 362px;
  float: left;
  padding-left: 20px;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

.content h2 {
  padding: 6px 6px;
  background: #D6D4F0;
}

.component {
  padding-left: 12px;
}

.component h3 {
  padding: 4px 0px;
  border-bottom: 1px solid #CCCCCC;
}

.component .tags {
  margin: -18px 2px 0px;
  float: right;
  font-size: 9pt;
}

.content ul,
.content ol,
.content li,
.content p {
  font-family: "Palatino Linotype", serif;
  font-size: 11pt;
  padding: 6px 0px 0px;
  text-align: justify;
}

.content ul {
  list-style: disc;
}

.content li {
  margin-left: 30px;
  padding-left: 0px;
}

.component .links {
  font-size: 10pt;
  text-align: center;
  width: 250px;
  margin: 12px auto 0px;
  padding: 2px 0px 4px;
  border: 1px solid #905050;
  border-radius: 12px;
}